infra/n8n/opsmemory-slack-ingest.workflow.json
{
  "name": "opsmemory-slack-ingest",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "slack-ingest",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "id": "e7904e2e-eed0-42be-9817-5aae02da3d7e",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "c520018a-d0ae-499c-81d3-4523a959425b"
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// n8n Code node script \u2014 Slack HMAC v0 verify.\n//\n// Drop this verbatim into the FIRST Code node after the Webhook\n// trigger in the slack-ingest workflow.\n//\n// Companion docs:\n//   docs/15-slack-edge-adapter-contract.md (the contract)\n//   docs/16-slack-n8n-build-runbook.md     (step-by-step n8n setup)\n//   scripts/slack_hmac_fixture.py          (Python reference + tests)\n//\n// Prerequisites:\n//   - Webhook node configured with \"Raw Body\" enabled. The raw bytes\n//     must arrive via $binary.data.data (base64); if you parse the\n//     body before HMAC, the canonical key ordering shifts and the\n//     signature will not match.\n//   - n8n credential 'Slack Signing Secret' (Generic Credentials\n//     type, single 'value' field). Reference it via\n//     $credentials.slackSigningSecret in n8n's credentials helper,\n//     OR \u2014 if your version doesn't expose it that way \u2014 fall back\n//     to an n8n environment variable SLACK_SIGNING_SECRET.\n//\n// Output (single item):\n//   { reject: true, reason: '<why>' }              - n8n returns 401\n//   { reject: false, eventType: 'url_verification', challenge: '...' } - 200 + challenge\n//   { reject: false, eventType: 'event_callback', body: {...} } - continue downstream\n//\n// The output schema is the contract for the next node (the IF /\n// router). Keep the field names stable.\n\nconst crypto = require('crypto');\n\n// ---- Get signing secret from credential or env --------------------\nlet signingSecret = null;\ntry {\n  // Preferred: a Generic Credentials credential in n8n.\n  signingSecret = $credentials?.slackSigningSecret?.value ?? null;\n} catch (e) { /* credential not bound; fall through */ }\nif (!signingSecret) {\n  signingSecret = $env?.SLACK_SIGNING_SECRET ?? null;\n}\nif (!signingSecret) {\n  throw new Error(\n    'Slack signing secret not found. Bind the \"Slack Signing Secret\" ' +\n    'credential to this Code node OR set SLACK_SIGNING_SECRET in n8n env.'\n  );\n}\n\n// ---- Pull headers (case-insensitive) -----------------------------\nconst item = $input.first();\nconst headers = item.json?.headers ?? {};\nconst h = {};\nfor (const k in headers) h[k.toLowerCase()] = headers[k];\n\nconst sigHeader = h['x-slack-signature'];\nconst tsHeader = h['x-slack-request-timestamp'];\n\nif (!sigHeader) {\n  return [{ json: { reject: true, reason: 'missing_signature_header' } }];\n}\nif (!tsHeader) {\n  return [{ json: { reject: true, reason: 'missing_timestamp_header' } }];\n}\n\n// ---- Replay protection: 5-min skew (Slack-recommended) -----------\nconst now = Math.floor(Date.now() / 1000);\nconst ts = parseInt(tsHeader, 10);\nif (Number.isNaN(ts) || Math.abs(now - ts) > 300) {\n  return [{ json: { reject: true, reason: 'timestamp_skew_exceeded' } }];\n}\n\n// ---- Raw body -----------------------------------------------------\n// Webhook node with \"Raw Body\" puts bytes here. Some n8n versions\n// route them slightly differently \u2014 try the documented path first\n// then fall back to alternatives we've seen in 2.x deployments.\nlet rawBody = null;\ntry {\n  const b64 = item.binary?.data?.data;  // n8n 2.x default for Raw Body\n  if (b64) rawBody = Buffer.from(b64, 'base64');\n} catch (_e) { /* fall through */ }\nif (!rawBody) {\n  // Fallback: some webhook configs leave the raw string at item.json.body\n  // when the request had Content-Type application/json. NOT\n  // canonical \u2014 only safe if no JSON re-serialization happened\n  // upstream. Use only if Raw Body binary path is unavailable.\n  const bodyStr = typeof item.json?.body === 'string'\n    ? item.json.body : null;\n  if (bodyStr) rawBody = Buffer.from(bodyStr, 'utf8');\n}\nif (!rawBody) {\n  return [{ json: { reject: true, reason: 'raw_body_unavailable' } }];\n}\n\n// ---- Compute expected signature ---------------------------------\nconst base = Buffer.concat([Buffer.from(`v0:${tsHeader}:`), rawBody]);\nconst expected =\n  'v0=' + crypto.createHmac('sha256', signingSecret).update(base).digest('hex');\n\n// ---- Constant-time compare (lengths must match) -----------------\nif (sigHeader.length !== expected.length) {\n  return [{ json: { reject: true, reason: 'signature_length_mismatch' } }];\n}\nconst a = Buffer.from(sigHeader);\nconst b = Buffer.from(expected);\nif (!crypto.timingSafeEqual(a, b)) {\n  return [{ json: { reject: true, reason: 'signature_mismatch' } }];\n}\n\n// ---- Verified. Parse body for downstream nodes ------------------\nlet parsed;\ntry {\n  parsed = JSON.parse(rawBody.toString('utf8'));\n} catch (e) {\n  return [{ json: { reject: true, reason: 'body_not_json' } }];\n}\n\nif (parsed.type === 'url_verification') {\n  return [{\n    json: {\n      reject: false,\n      eventType: 'url_verification',\n      challenge: parsed.challenge,\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    reject: false,\n    eventType: parsed.type || 'unknown',\n    body: parsed,\n  }\n}];\n"
      },
      "id": "583fa791-39df-4920-98d3-384260cff6a4",
      "name": "HMAC Verify",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "f3b124c1-a637-4003-b1ab-987b18f00cf5",
              "leftValue": "={{ $json.reject }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "511eb5e9-2816-4cb3-81ef-63d003934127",
      "name": "IF reject?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.reason }}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "e7fa53e0-0895-4e97-80a9-a734da4b50de",
      "name": "Respond 401 rejected",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "7039419a-aab7-4171-b6b0-60586e905820",
              "leftValue": "={{ $json.eventType }}",
              "rightValue": "url_verification",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "149f3629-09a6-463d-b87d-1fc11b9ca2ed",
      "name": "IF url_verification?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        900,
        400
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"challenge\": \"{{ $json.challenge }}\" }",
        "options": {
          "responseCode": 200
        }
      },
      "id": "32ae4193-3772-447c-8174-c6009da3561b",
      "name": "Respond 200 challenge",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "f5fbf8be-fe74-44cb-8a1e-b44b6ee96889",
              "leftValue": "={{ $json.body?.event?.type }}",
              "rightValue": "reaction_added",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "77ee11ac-cd41-4fc4-a645-ea4fa8ed1bba",
      "name": "IF reaction_added?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1120,
        500
      ]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// n8n Code node script \u2014 build OpsMemory /v1/ingest/slack body.\n//\n// Drop this verbatim into the Code node AFTER the IF router that\n// has separated event_callback events from url_verification.\n//\n// Input (from HMAC-verify Code node):\n//   { reject: false, eventType: 'event_callback', body: {<full slack event>} }\n//\n// Output (single item, schema below):\n//   skip=true      -> downstream IF routes to \"Respond 200 silent\" (drop)\n//   skip=false     -> downstream HTTP Request node POSTs opsMemoryBody\n//\n// Filtering rules for launch (per Codex Phase C trim):\n//   - Only app_mention events go through. Every other subtype\n//     (message.channels, message.im, reaction_added, etc.)\n//     is dropped silently with skip=true. Reactions are explicitly\n//     deferred until threaded-message handling is tested.\n//   - Empty messages after stripping the bot mention are dropped.\n//   - Bot messages (subtype=bot_message OR ev.bot_id) are dropped\n//     to avoid the bot ingesting itself.\n//\n// Mention stripping:\n//   Slack delivers mention text as \"<@U01OPSMEM> rest of message\".\n//   We strip the LEADING bot mention so the LLM extract step doesn't\n//   waste tokens on the routing token. Original is preserved in\n//   extra.original_text for audit reproduction.\n\nconst item = $input.first().json;\n\n// Defensive: if upstream node passed reject:true through somehow,\n// drop. (The IF router in front of this node should have handled\n// it, but belt-and-braces.)\nif (item.reject) {\n  return [{ json: { skip: true, reason: 'upstream_reject' } }];\n}\n\nconst body = item.body;\nif (!body) {\n  return [{ json: { skip: true, reason: 'no_body' } }];\n}\n\nif (body.type !== 'event_callback') {\n  return [{ json: { skip: true, reason: 'not_event_callback' } }];\n}\n\nconst ev = body.event ?? {};\nif (ev.type !== 'app_mention') {\n  return [{ json: { skip: true, reason: `event_type_${ev.type ?? 'missing'}` } }];\n}\n\n// Drop bot messages (bot ingesting itself, or another bot in channel).\nif (ev.subtype === 'bot_message' || ev.bot_id) {\n  return [{ json: { skip: true, reason: 'bot_message' } }];\n}\n\n// Strip leading <@U...> mentions. Slack only routes app_mention to\n// us when the bot is mentioned, but the user might have multiple\n// mentions in one message (\"<@OPSMEMORY> please assign <@JOANNA>...\").\n// We only strip OUR bot's mention if we know the bot user id; for\n// safety strip ALL leading mentions until non-mention content.\nconst originalText = ev.text ?? '';\nconst mentionStripped = originalText\n  .replace(/^(\\s*<@[UW][A-Z0-9]+>\\s*)+/, '')\n  .trim();\n\nif (mentionStripped.length < 1) {\n  return [{ json: { skip: true, reason: 'empty_after_mention_strip' } }];\n}\n\n// Build the OpsMemory /v1/ingest/slack body.\n// Schema source: api/app/v1_ingest.py SlackIngest pydantic model.\nconst opsMemoryBody = {\n  team_id: body.team_id,\n  channel_id: ev.channel,\n  ts: ev.ts,\n  text: mentionStripped,\n  user_id: ev.user ?? null,\n  thread_ts: ev.thread_ts ?? null,\n  channel_name: null,        // populate via channels:read API if desired\n  user_name: null,           // populate via users:read API if desired\n  team_domain: null,\n  workspace_name: null,\n  enterprise_id: body.authorizations?.[0]?.enterprise_id ?? null,\n  extra: {\n    slack_event_id: body.event_id,\n    slack_event_type: 'app_mention',\n    original_text: originalText,\n    api_app_id: body.api_app_id,\n  },\n};\n\nreturn [{\n  json: {\n    skip: false,\n    opsMemoryBody,\n    // Convenience fields for n8n IF nodes / logs:\n    team_id: body.team_id,\n    channel_id: ev.channel,\n    ts: ev.ts,\n  }\n}];\n"
      },
      "id": "0a89ecee-76cd-4dd4-b7ac-77fb8872fcbe",
      "name": "Build OpsMemory body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        460
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "68a05402-8948-4697-9ab9-a8c54ff11ae9",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "cb2e5622-5b0c-4efb-b80e-b110346a08b3",
      "name": "IF skip?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1560,
        460
      ]
    },
    {
      "parameters": {
        "respondWith": "noData",
        "options": {
          "responseCode": 200
        }
      },
      "id": "9a2b3e70-f659-418b-a35d-4bcbb1a76602",
      "name": "Respond 200 silent",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1780,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://opsmemory-api:8000/v1/ingest/slack",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.opsMemoryBody) }}",
        "options": {
          "timeout": 5000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "64bb63a5-6a45-47ec-bf20-cd099df389a3",
      "name": "POST /v1/ingest/slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1780,
        520
      ],
      "credentials": {
        "httpHeaderAuth": {
          "name": "OpsMemory Service Key (slack ingest)"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "noData",
        "options": {
          "responseCode": 200
        }
      },
      "id": "a4a86057-d2bb-4eb0-961c-6c8b22034560",
      "name": "Respond 200 final",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2000,
        520
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "d241a5bc-4a2e-44f4-9b92-2996329478e3",
              "leftValue": "={{ $json.body?.event?.reaction }}",
              "rightValue": "memo",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5256e78f-ee0d-417e-a29b-3e97c6fd6568",
      "name": "IF reaction is memo?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1340,
        700
      ]
    },
    {
      "parameters": {
        "respondWith": "noData",
        "options": {
          "responseCode": 200
        }
      },
      "id": "c49204be-d396-4efa-8c84-dfc2d9566285",
      "name": "Respond 200 wrong emoji",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1560,
        820
      ]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// n8n Code node \u2014 prepare a Slack conversations.history call.\n//\n// Drop this verbatim into the Code node BEFORE the HTTP Request node\n// that calls Slack's API on the reaction_added branch. We use a Code\n// node here (instead of binding query strings directly on the HTTP\n// Request node) because reaction events have several layout variants\n// \u2014 `item.type='message'` always, but `item.ts` is the canonical\n// reacted-to message timestamp regardless of whether the original\n// is top-level or threaded.\n//\n// Companion docs:\n//   docs/15-slack-edge-adapter-contract.md (the contract)\n//   docs/16-slack-n8n-build-runbook.md     (step-by-step n8n setup)\n//\n// Input (from the IF \"reaction is memo?\" upstream):\n//   { reject: false, eventType: 'event_callback',\n//     body: { event: { type: 'reaction_added', user, reaction,\n//                       item: { type, channel, ts }, ... },\n//             team_id, event_id, ... } }\n//\n// Output (single item) \u2014 fields the HTTP Request node will reference:\n//   slackChannel : the channel id to query\n//   slackLatest  : the message ts to look up\n//   reaction     : the emoji name (passed through for build-body audit)\n//   slackUser    : who reacted (for source_metadata.user_id; the\n//                   ingester is the reactor, not the original author \u2014\n//                   the original author is recovered from the fetched\n//                   message body)\n//   teamId       : workspace id\n//   eventId      : Slack event_id (idempotency, audit)\n//   originalEventBody: the full event payload for downstream build.\n//\n// We don't strip thread_ts here \u2014 the build-body node decides whether\n// threaded replies are accepted (they're skipped at launch per Codex\n// 2026-05-08 review until cleanly tested).\n\nconst item = $input.first().json;\nconst body = item.body;\nif (!body) {\n  return [{ json: { skip: true, reason: 'no_body' } }];\n}\n\nconst ev = body.event;\nif (!ev || ev.type !== 'reaction_added') {\n  return [{ json: { skip: true, reason: 'not_reaction_added' } }];\n}\n\nconst target = ev.item;\nif (!target || target.type !== 'message') {\n  // Reactions can also be on file/file_comment items; we only handle\n  // message reactions for the ingest path.\n  return [{ json: { skip: true, reason: 'reaction_target_not_message' } }];\n}\n\nconst channel = target.channel;\nconst ts = target.ts;\nif (!channel || !ts) {\n  return [{ json: { skip: true, reason: 'missing_channel_or_ts' } }];\n}\n\nreturn [{\n  json: {\n    skip: false,\n    slackChannel: channel,\n    slackLatest: ts,\n    reaction: ev.reaction || null,\n    slackUser: ev.user || null,\n    teamId: body.team_id,\n    eventId: body.event_id,\n    originalEventBody: body,\n  }\n}];\n"
      },
      "id": "b5a6b143-6064-43b1-b319-d3ead5429d67",
      "name": "Reaction prep",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        640
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://slack.com/api/conversations.history",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "channel",
              "value": "={{ $json.slackChannel }}"
            },
            {
              "name": "latest",
              "value": "={{ $json.slackLatest }}"
            },
            {
              "name": "inclusive",
              "value": "true"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ]
        },
        "options": {
          "timeout": 4000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "d4f45863-2f79-4265-a479-eeb1b8800754",
      "name": "Slack: fetch reacted message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1780,
        640
      ],
      "credentials": {
        "httpHeaderAuth": {
          "name": "Slack Bot Token"
        }
      }
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// n8n Code node \u2014 build OpsMemory /v1/ingest/slack body from a\n// reaction_added event whose target message has just been fetched.\n//\n// Drop this verbatim into the Code node AFTER the HTTP Request node\n// that called Slack's conversations.history on the reaction branch.\n//\n// Input shape (the HTTP Request node forwards both its own response\n// AND the prior node's data; in n8n 2.x with default settings the\n// previous-node fields ride along on the same item):\n//\n//   $('Slack: fetch reacted message').first().json   -- conversations.history payload\n//   $('Reaction prep').first().json                  -- prepared event metadata\n//\n// We read both via the `$('<NodeName>')` references rather than\n// $input.first() so the input wiring is explicit and stable across\n// n8n versions.\n//\n// Output shape: same as the mention-path Build OpsMemory body:\n//   { skip: true, reason: '...' }                              -- drop silently\n//   { skip: false, opsMemoryBody: {<SlackIngest body>}, ... }  -- forward to OpsMemory\n//\n// Filtering rules (top-level messages only at launch, per Codex\n// 2026-05-08 review on threaded-reply behavior):\n//   - conversations.history must return exactly one message (the one\n//     we asked for via inclusive=true&limit=1).\n//   - Reject if the message is a reply (thread_ts present and !==\n//     the message ts itself).\n//   - Reject bot messages and the bot's own messages so the bot\n//     can't ingest itself.\n\nconst prep = $('Reaction prep').first().json;\nconst slackResp = $('Slack: fetch reacted message').first().json;\n\nif (prep?.skip) {\n  return [{ json: { skip: true, reason: prep.reason || 'upstream_skip' } }];\n}\n\nif (!slackResp || slackResp.ok !== true) {\n  return [{\n    json: {\n      skip: true,\n      reason: 'slack_history_not_ok',\n      slack_error: slackResp?.error || 'unknown',\n    }\n  }];\n}\n\nconst messages = Array.isArray(slackResp.messages) ? slackResp.messages : [];\nif (messages.length === 0) {\n  // The reacted-to message may have been deleted between Slack's\n  // event delivery and our fetch. Drop silently \u2014 Slack won't retry\n  // this delivery once we 200, and there's nothing to ingest.\n  return [{ json: { skip: true, reason: 'message_not_found' } }];\n}\n\nconst msg = messages[0];\n\n// Drop bot messages.\nif (msg.subtype === 'bot_message' || msg.bot_id) {\n  return [{ json: { skip: true, reason: 'bot_message' } }];\n}\n\n// Top-level only at launch.\nconst isTopLevel = !msg.thread_ts || msg.thread_ts === msg.ts;\nif (!isTopLevel) {\n  return [{ json: { skip: true, reason: 'threaded_reply_not_supported_yet' } }];\n}\n\nconst text = (msg.text || '').trim();\nif (text.length < 1) {\n  return [{ json: { skip: true, reason: 'empty_message_text' } }];\n}\n\nconst opsMemoryBody = {\n  team_id: prep.teamId,\n  channel_id: prep.slackChannel,\n  ts: msg.ts,                    // canonical event id is the original\n                                  // message's ts, NOT the reaction's. Slack\n                                  // retries on the SAME reaction event_id\n                                  // but our idempotency in OpsMemory keys\n                                  // off (team, channel, ts) so multiple\n                                  // reactions on the same message dedupe\n                                  // to one ingest_event.\n  text: text,\n  user_id: msg.user || null,      // ORIGINAL author, not the reactor\n  thread_ts: msg.thread_ts || null,\n  channel_name: null,\n  user_name: null,\n  team_domain: null,\n  workspace_name: null,\n  enterprise_id: null,\n  extra: {\n    slack_event_id: prep.eventId,\n    slack_event_type: 'reaction_added',\n    reaction: prep.reaction,\n    reactor_user_id: prep.slackUser,   // who labeled this as a task\n    original_text: msg.text || null,\n  },\n};\n\nreturn [{\n  json: {\n    skip: false,\n    opsMemoryBody,\n    team_id: prep.teamId,\n    channel_id: prep.slackChannel,\n    ts: msg.ts,\n  }\n}];\n"
      },
      "id": "e5860e7c-ab8c-4407-8d18-251aec81480a",
      "name": "Build reaction body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        640
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "48f28e32-907f-4c7d-8185-7a0326d52c4f",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ff74e09c-1a44-4ce6-ab59-65ccbafb0ffa",
      "name": "IF reaction skip?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2220,
        640
      ]
    },
    {
      "parameters": {
        "respondWith": "noData",
        "options": {
          "responseCode": 200
        }
      },
      "id": "382cd763-0ffa-4aff-a6ed-0acb873f176d",
      "name": "Respond 200 reaction silent",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2440,
        580
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://opsmemory-api:8000/v1/ingest/slack",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.opsMemoryBody) }}",
        "options": {
          "timeout": 5000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "3265dbd5-253a-4aba-b347-2f3e89ec04fa",
      "name": "POST /v1/ingest/slack (reaction)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2440,
        700
      ],
      "credentials": {
        "httpHeaderAuth": {
          "name": "OpsMemory Service Key (slack ingest)"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "noData",
        "options": {
          "responseCode": 200
        }
      },
      "id": "fd460311-95a4-4071-a15d-0fed6020cd0a",
      "name": "Respond 200 reaction final",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2660,
        700
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HMAC Verify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HMAC Verify": {
      "main": [
        [
          {
            "node": "IF reject?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF reject?": {
      "main": [
        [
          {
            "node": "Respond 401 rejected",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF url_verification?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF url_verification?": {
      "main": [
        [
          {
            "node": "Respond 200 challenge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF reaction_added?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF reaction_added?": {
      "main": [
        [
          {
            "node": "IF reaction is memo?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build OpsMemory body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build OpsMemory body": {
      "main": [
        [
          {
            "node": "IF skip?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF skip?": {
      "main": [
        [
          {
            "node": "Respond 200 silent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "POST /v1/ingest/slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /v1/ingest/slack": {
      "main": [
        [
          {
            "node": "Respond 200 final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF reaction is memo?": {
      "main": [
        [
          {
            "node": "Reaction prep",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 200 wrong emoji",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reaction prep": {
      "main": [
        [
          {
            "node": "Slack: fetch reacted message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack: fetch reacted message": {
      "main": [
        [
          {
            "node": "Build reaction body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build reaction body": {
      "main": [
        [
          {
            "node": "IF reaction skip?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF reaction skip?": {
      "main": [
        [
          {
            "node": "Respond 200 reaction silent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "POST /v1/ingest/slack (reaction)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /v1/ingest/slack (reaction)": {
      "main": [
        [
          {
            "node": "Respond 200 reaction final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "versionId": "452a50d9-86ce-4edb-81ad-73141720f8e9",
  "meta": {
    "instanceId": "opsmemory-phase-c-import-v2"
  },
  "id": "opsmemory-slack-ingest",
  "tags": []
}
